body {
  background-color: #F6F6F6;
}
#table-header {
	width: 100%;
	color: #1a1aff;
	border: 1px solid black;
  			  border-collapse: collapse;
  	padding: 5px;
}
.form-title, .form-date, .form-time, .form-date-selected, .form-location, .form-image, .form-description {
	class: form-control;
	width: 100%;
	color: #000000;
	padding: .5px;
}
.form-time {
	
}
.form-private, .form-submit {
	color: #000000;
	padding: 1px;
}