@primary : #55A9C6;
@secondary : #0F465D;
@bg-color : #F6F6F6;

html{
  overflow-y: hidden;
}
body {
  background-color: @bg-color;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator, ul.sidebar .sidebar-list a:hover, ul.sidebar .sidebar-main a
, .row.header{
  background : 0 0/100% @primary;
}

#sidebar-wrapper , .sidebar-footer{
  background-color: @secondary;
}

#notification, .row.header{
  color : white;
}
// make the modal scrollable
// .modal {
//   position: absolute;
// }
.modal {
  .modal-body{
    height : auto;
    overflow : visible;
    .clear {
      clear: both;
    }
  }
}

ul.sidebar .sidebar-list a:hover{
  background-color: #12536e;
}

.update-button {

          position : absolute;

          top: 10px;

          z-index : 1;

          clear : both;

          right: 10px;

      }
.page-content{
  height : 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction : column;
  -ms-flex-direction : column;
  flex-direction : column;
  .row.header{
    .col-xs-12 {
      margin-bottom : 0;
    }
    flex : 0 1 60px;
    -webkit-flex : 0 1 60px;
    -ms-flex : 0 1 60px;
  }
  .main-content{
    flex : 1 1 auto;
    -webkit-flex : 1 1 auto;
    -ms-flex : 1 1 content;
    overflow-y: scroll;
  }
}

.widget {
  margin-top : 10px;
  margin-bottom : 10px;
  .widget-body .title {
    font-size: 28px;
    display: block;
  }
}

.text-body {
  padding : 5px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 749px) {
  .event-container{
    position : relative;
    display : flex;
    display : -webkit-flex;
    display : -ms-flexbox;
    flex-direction : column;
    -webkit-flex-direction : column;
    -ms-flex-direciton : column;
    background-color: white;
    padding : 5px;
    margin-bottom : 15px;
    .banner {
      flex : 0 1 150px;
      -webkit-flex : 0 1 150px;
      -ms-flex : 0 1 150px;
      height : 150px;
      width : 100%;
      object-fit : cover;
    }
    .event-details-container{
      flex : 1 1 content;
      -webkit-flex : 1 1 content;
      -ms-flex : 1 1 content;
      .thumbnail-container {
        position : absolute;
        top : 30px;
        left : 30px;
        .thumbnail {
          height : 80px;
          width : 80px;
          object-fit : cover;
        }
      }
      .event-details {
        padding-left : 25px;
      }
    }
  }
}
/* Tablets and up */
@media only screen
and (min-width : 750px) {
  .btn-group{
    padding: 0 0 0 5;
  }
  
  .event-container{
    position : relative;
    display : flex;
    display : -webkit-flex;
    display : -ms-flexbox;
    flex-direction : column;
    -webkit-flex-direction : column;
    -ms-flex-direciton : column;
    background-color: white;
    padding : 5px;
    margin-bottom : 15px;
    width : 100%;
    .banner {
      flex : 0 1 400px;
      -webkit-flex : 0 1 400px;
      -ms-flex : 0 1 400px;
      height : 200px;
      width : 100%;
      object-fit : cover;
    }
    .event-details-container{
      flex : 1 1 content;
      -webkit-flex : 1 1 content;
      -ms-flex : 1 1 content;
      width : 100%;
      .thumbnail-container {
        z-index : 6;
        position : absolute;
        top : 165px;
        margin : 0 0 0 35px;
        .thumbnail {
          height : 200px;
          width : 200px;
          object-fit : cover;
        }
      }
      .event-details {
        color : white;
        z-index: 5;
        background-color : rgba(0, 0, 0, 0.5);
        position : absolute;
        top : 225px;
        padding-left : 25px;
        width : ~'calc(100% - 10px)'; /* less was overriding this.. so used a escaped string*/
        height : 180px;
        .title {
          height : 100%;
          margin-left: 225px;
        }
      }
    }
  }
}
.chart-container {
  overflow : hidden;
  width : 100%;
  height: 100%;
}

.ticker-container{
  width : 100%;
  height : 100%;
  text-align: center;
  .ticker{
    .checked-in-odometer{
      font-size : 5em;
    }
    position: relative;
    top: 25%;
  }
}
.loading-icon{
  height : 100%;
  width : 100%;
  text-align: center;
  .icon {
    color : rgba(0, 0, 0, 0.2);
    position : relative;
    top : 40%;
  }
}

#piechart {
  height : 90%;
  width : 100%;
  display : inline-block;
  margin : 0 auto;
  overflow : hidden;
}

.pie-legend{
  margin : 0;
  li {
    list-style: square;
    display : inline;
  }
  li:before {
    content: '• ';
    color: red; /* or whatever color you prefer */
  }
}

/* Limit image width to avoid overflow the container */
img {
  max-width: 100%;
}
