<!doctype html>
<html lang='en' ng-app='RDash'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

  	<title>PureCloud Kiosk</title>
    <script>
      function getQueries() {
        var queries = [];
        var queryString = window.location.toString().split('?')[1];
        var hashes = queryString.split('&');
        for(var i = 0; i < hashes.length; i++){
          var query = hashes[i].split('=');
          queries.push(query[0]);
          queries[query[0]] = query[1];
        }
        console.log(queries);
        return queries;
      }
      localStorage.setItem('pureCloudAccessToken', getQueries().client_token);
      window.history.replaceState({}, document.title, location.protocol + '//' + location.host + location.pathname);
    </script>

    <!-- These need to be concatenated later -->
    <!-- Styles -->
    <link rel='stylesheet' type='text/css' href='dist/css/dashboard.min.css'/>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.3.0/js/canvas-to-blob.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.min.js"></script>
    <!-- temp full Calendar CDN (will move to bower later)  -->
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js'></script>
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js'></script>
    <script type='text/javascript' src='bower_components/typeahead.js/dist/typeahead.bundle.min.js'></script>


  </head>
  <body>
    <div id='app'>
      <!-- content in here will get replaced when the app loads -->
      <div class='text-center'>
        <i class='fa fa-spinner fa-spin fa-5x'></i>
        <p>Loading...</p>
      </div>
    </div>

<script type="text/javascript" src="dist/bundle.min.js"></script>
  </body>
</html>
