<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="dist/css/lib.min.css">
    <script type="text/javascript">
    // got this function from one of PureCloud's git repos
    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\#&]" + name + "=([^&#]*)"),
          results = regex.exec(location.hash);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    // if access_token param is available, use the access token
    if(getParameterByName("access_token") != ""){
      window.location.replace("http://localhost:8000?client_token=" + getParameterByName("access_token") +
        "&expires_in=" + getParameterByName("expires_in"));
    }
    else{ // else redirect to auth
      var queryStringData = {
          response_type : "token",
          client_id : "124e4b8c-b520-4fc0-8f3c-defe6add851a",
          redirect_uri : "http://localhost:8000/"
      }
      window.location.replace("https://login.mypurecloud.com/authorize?" + $.param(queryStringData));
    }
    </script>
  </head>
  <body>
    <div class="text-center">
      <i class="fa fa-spinner fa-spin fa-5x"></i>
      <p>Loading...</p>
    </div>
  </body>
</html>
